
.bodyportolio {
    margin-top: 15%;
}

.portfoliobody {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 

.portfoliobody button {
    margin: 10px;
}


p {
    font-family: Raleway, sans-serif;
}

.portfoliopg
 {
    border-bottom: 5px solid grey;
    width: 65%;
    font-family: Marcellus;
    font-size: 60px;
    
}

.card {
    /* height: auto;*/
    width: 70%;
    margin-left: auto;
    margin-right: auto; 
}

.portfoliobody {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.Card.Text {
    color: green;
}

.modal-body, 
.modal-header, 
.modal-footer, 
.btn {
    background-color: black;
    color: azure;
}

.btn {
    border: 2px solid white;
    
}

.videolink {
    /* border: 2px solid white;
    width: 10%; */
    color: white;
    /* background-color: rgb(237, 237, 237); */
    /* border-radius: 5px; */
    text-align: center;
    /* padding: 5px; */
}



h6{/* 


    .bodyportolio {
    margin-top: 15%;
}

.portfoliobody {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* width: 100%;
    height: 100vh; 
} 

.portfolio {
    margin-top: 5%;
    margin-bottom: 5%; 
}

p {
    font-family: Raleway, sans-serif;
}

.portfoliopg
 {
    border-bottom: 5px solid grey;
    width: 65%;
    font-family: Marcellus;
    font-size: 60px;
    
}

.card {
    /* height: auto;
    width: auto; 
    margin-left: auto;
    margin-right: auto;
    
}

.portfoliobody {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}



*/}